{{top}} {{hero}}


<main class="main">
    <h1 class="main__heading">Create User</h1>
    <form class="create-user" method="post">
      <label for="name" class="create-user__label">Name:</label><br />
      <input class="create-user__text" type="text" id="name" name="name" /><br />
      <label for="password" class="create-user__label">Password:</label><br />
      <input
        class="create-user__text"
        type="password"
        id="password"
        name="password"
      /><br /><br />
      <button class="create-user__submit" type="submit">Submit</button>
    </form>
    <div class="confirmation">
      &nbsp;
    </div>
  </main>

{{bottom}}
