{{top}}
{{hero}}

<main class="dashboard">
  <h1 class="dashboard__heading">Dashboard</h1>
  <nav class="dashboard__nav">
    <ul class="dashboard__list">
      <li class="dashboard__list-item">
        <a href="/create-post" class="dashboard__link">Create Post</a>
      </li>
      <li class="dashboard__list-item">
        <a href="manage-post" class="dashboard__link">Manage Post</a>
      </li>
      <li class="dashboard__list-item">
        <a href="/create-user" class="dashboard__link">Register User</a>
      </li>
    </ul>
  </nav>
  
  <button class="logout">Logout</button>
</main>
{{bottom}}
