<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crazy Apple Lady - Home</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="hero">
      <h1 class="hero__heading">Crazy Apple Lady</h1>
      <p class="hero__slogan">
        “Cultivate Life: Where Fungi Flourish, Greenery Grows, and Style Speaks
        Volumes!”
      </p>

      <nav class="hero__nav">
        <button class="btn btn__hero-nav">
          <a href="index.html" class="hero__link">Crazy Apple Lady Tee-Shirt Co</a>
        </button>
        <button class="btn btn__hero-nav">
          <a href="mushroom-blogs.html" class="hero__link">Mushroom Blogs</a>
        </button>
        <button class="btn btn__hero-nav">
          <a href="planty-life.html" class="hero__link">It's a Planty Life</a>
        </button>
      </nav>
    </header>

    <main class="main">
      <h2 class="main__heading">Who is the Crazy Apple Lady</h2>
      <img src="" alt="Apples" class="main__img" />
      <p class="main__paragraph">Hi, Mindy here!</p>
      <p class="main__paragraph">
        Welcome to Crazy Apple Lady! Welcome to our vibrant world of health and
        wellness, where we believe that taking care of your body should be a
        joyful journey. At Crazy Apple Lady, we've curated a unique space that
        seamlessly blends the pursuit of a healthy lifestyle with a touch of fun
        and self-expression. Here, you'll discover a treasure trove of
        resources, tips, and products designed to empower you on your wellness
        adventure.
      </p>
      <p class="main__paragraph">
        But we're not just about green smoothies and mushroom powders; we're
        also enthusiasts of personal style and self-confidence. Check out our
        collection of fun and quirky graphic tee shirts that allow you to wear
        your wellness journey with pride. From clever mantras to playful
        illustrations, our tees are more than just garments – they're statements
        of your commitment to a balanced and vibrant life.
      </p>
      <p class="main__paragraph">
        Explore our site to find expert advice on nutrition, gardening, mental
        well-being, and more. And while you're at it, dive into our delightful
        range of graphic tees that bring a burst of color and positivity to your
        wardrobe. Because feeling good should look good too! Join us on this
        exciting venture towards a healthier, happier you, all while embracing
        the joy of self-expression. At Crazy Apple Lady, well-being meets style
        in the most delightful way possible.
      </p>
      <p class="main__paragraph">Peace!</p>
    </main>
  </body>
  <footer class="footer">
    <h3 class="footer__heading">Social Media</h3>
    <nav class="social-media">
        <a href="" class="social-media__link"><img src="" alt="" class="social-media__icon"></a>
        <a href="" class="social-media__link"><img src="" alt="" class="social-media__icon"></a>
    </nav>
  </footer>
</html>
