<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Login User</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="hero">
        <h1 class="hero__heading">Crazy Apple Lady</h1>
        <p class="hero__slogan">
          “Cultivate Life: Where Fungi Flourish, Greenery Grows, and Style Speaks
          Volumes!”
        </p>
  
        <nav class="hero__nav">
          <button class="btn btn__hero-nav">
            <a href="index.html" class="hero__link">Crazy Apple Lady Tee-Shirt Co</a>
          </button>
          <button class="btn btn__hero-nav">
            <a href="mushroom-blogs.html" class="hero__link">Mushroom Blogs</a>
          </button>
          <button class="btn btn__hero-nav">
            <a href="planty-life.html" class="hero__link">It's a Planty Life</a>
          </button>
        </nav>
      </header>

      <main class="main">
        <h1 class="main__heading">Login User</h1>
        <form class="login" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit">Submit</button>

        </form>
        

      </main>
    
      <script src="login.js"></script>
</body>
</html>