{{top}} {{hero}}

<main class="main">
  <h1 class="main__heading">Login User</h1>
  <form class="login" method="post">
    <label for="name" class="login__label">Name:</label><br />
    <input class="login__text" type="text" id="name" name="name" /><br />
    <label for="password" class="login__label">Password:</label><br />
    <input
      class="login__text"
      type="password"
      id="password"
      name="password"
    /><br /><br />
    <button class="login__submit" type="submit">Submit</button>
  </form>
  <a href="/create-user" class="main__redirect">Register User</a>
</main>

{{bottom}}
