{{top}} {{hero}}

<main class="manage-post">
  <form class="manage-post__form">
    <label for="select" class="manage-post__label">Select Post:</label>
    <select name="select" class="manage-post__select">
      &nbsp;
    </select>

    <label for="image" class="manage-post__label">Image:</label>
    <input name="image" class="manage-post__img" type="file" accept="image/*" />

    <label for="title" class="manage-post__label">Title:</label>
    <input name="title" class="manage-post__title" type="text" />

    <label for="content" class="manage-post__label">Content:</label>
    <textarea name="content" cols="30" rows="10" class="manage-post__text">
&nbsp;</textarea
    >

    <input class="manage-post__submit" type="submit" value="Create Post" />
  </form>
</main>

{{bottom}}
