{{top}}
{{hero}}

<main class="manage-post">
    <form class="manage-post__form">
        <select name="" id="" class="manage-post__select">
            
        </select>
        <input class="manage-post__img" type="file" src="" alt="" accept="image/*">
        <input class="manage-post__title" type="text" name="" id="">
        <textarea name="" id="" cols="30" rows="10" class="manage-post__text"></textarea>
        <input class="manage-post__submit" type="submit" value="Create Post">
    </form>
</main>

{{bottom}}
