<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crazy Apple Lady - It's a Planty Life</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="hero">
      <h1 class="hero__heading">Crazy Apple Lady</h1>
      <p class="hero__slogan">
        “Cultivate Life: Where Fungi Flourish, Greenery Grows, and Style Speaks
        Volumes!”
      </p>

      <nav class="hero__nav">
        <button class="btn btn__hero-nav">
          <a href="index.html" class="hero__link"
            >Crazy Apple Lady Tee-Shirt Co</a
          >
        </button>
        <button class="btn btn__hero-nav">
          <a href="mushroom-blogs.html" class="hero__link">Mushroom Blogs</a>
        </button>
        <button class="btn btn__hero-nav">
          <a href="planty-life.html" class="hero__link">It's a Planty Life</a>
        </button>
      </nav>
    </header>

    <main class="planty-life">
      <h1 class="planty-life__heading">It's a Planty Life</h1>
      <section class="planty-life__links">
        <p class="planty-life__error">NO LINKS AVAILABLE</p>
      </section>
    </main>
    <footer class="footer">
      <h3 class="footer__heading">Social Media</h3>
      <nav class="social-media">
        <a href="" class="social-media__link"
          ><img src="" alt="" class="social-media__icon"
        /></a>
        <a href="" class="social-media__link"
          ><img src="" alt="" class="social-media__icon"
        /></a>
      </nav>
    </footer>
    <script src="planty-life.js"></script>
  </body>
</html>
